body {
    padding: 2em;
}

.exercise textarea {
    color: #535353;
    font-size: 1.25em;
    font-family: monospace;
    width: 50em;
    height: 20em;
}

.exercise input {
    color: #535353;
    font-size: 1.25em;
    font-family: monospace;
    width: 50em;
    margin-bottom: 2px;
}

button {
    display: block;
}

.failure {
    padding-left: 2em;
    color: red;
}

.success {
    padding-left: 2em;
    font-size: 1.25em;
    font-weight: bolder;
    color: green;
}

.emoji {
    font-size: 2em;
}

.hidden {
    display: none;
}
